.sidebarTitle {
  padding: 1.5rem;
  opacity: 0.8;
}

.title {
  font-size: 1.6rem;
  text-transform: uppercase;
  font-weight: normal;
  margin: 0 0 1rem;
}

.desc {
  font-size: 1.2rem;
  margin: 0;
}
